
@{
    ViewBag.Title = "Users";
}

<h2>Users</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @for (var i = 0; i < Model.User.Count; i++)
        {
            <tr>
                <td>@Model.Users[i].UserDetail</td>
            </tr>
        }
    </tbody>
    </table>
